.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  max-width: 320px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  margin: 24px 0;
  list-style: none;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

.card-container{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}